<% if controller_name != 'sessions' && controller_name != 'registrations' %>
<div id="copyright">
	<p>Copyright 2011, CarrieMail</p>
</div>
<div id="ftr-links">
	<ul>
		<li><a href="/">Careers</a></li>
		<li><a href="/">Company</a></li>
	</ul>
</div>
<% end %>

