<div id="copyright" class="l">
	<p>Copyright 2011, CarrieMail</p>
</div>
<div id="ftr-links" class="r h-list">
	<ul>
		<li><a href="/">Careers</a></li>
		<li><a href="/">Company</a></li>
		<li><a href="/">Blog</a></li>
	</ul>
</div>

