<div id="logo">
	<h1>CarrieMail</h1>
</div><!--#logo-->
<div id="utility-nav">
	<ul class="hmenu">
		<%= render 'devise/menu/registration_items' %>
		<%= render 'devise/menu/login_items' %>
		<%= link_to 'Home', root_path %>
		<%= link_to('Messages', messages_path) unless current_user.nil? %>
	</ul>
</div><!--#utility-nav-->