<% if controller_name != 'sessions' && controller_name != 'registrations' %>
<div id="utility-nav">
	<ul>
		<li>Gallery</li>
		<li>Link</li>		
		<li>Blog</li>
		<li>Contact Us</li>	
	</ul>
</div><!--#utility-nav-->
<div id="account">
	Welcome <%= current_user.first_name %>
</div>
<% end %>
