<div class="letter">
<div class="salutation">
  <%= @note.greeting.gsub(/,\s*$/, '') -%>,
</div>
<div class="mail">
  <%= raw(@note.body.gsub(/\n/, '<br/>')) %>
</div>
<div class="signature">
  <p><%= @note.closing %></p>
  <p><%= @note.signature %></p>
</div>
</div>
<div class="clr"></div>