<div class="l letter">
<div class="salutation">
  <%= @note.greeting.gsub(/,\s*$/, '') -%>,
</div>
<br/>
<div class="mail">
  <%= @note.body.gsub(/\n/, '<br/>') %>
</div>
<br/>
<div class="signature">
  <p><%= @note.closing %></p>
  <p><%= @note.signature %></p>
</div>
<br/>
</div>
<div class="clr"></div>