<!DOCTYPE HTML>
<html>
<head>
	<link href="http://fonts.googleapis.com/css?family=La+Belle+Aurore&amp;v1" rel="stylesheet" type="text/css"/>
	<%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  
	<style>
	@page { size:5.5in 3.5in; }
	@page { margin:10pt 10pt 10pt 10pt;}
	@page {	@top-left {
				content: "CarrieMail";
				color: red;
			}
	}	
	@page {prince-shrink-to-fit: auto;}

	@font-face {
		font-family:'BlackJackRegular';
		src: url('http://carriemail-staging.heroku.com/stylesheets/fonts/BlackJackRegular/blackjar-webfont.ttf');
	}
	

	</style>

	<title>Carriemail</title>
</head>
<body>
	<%= render 'letter.html' %>
</body>
</html>

