<!DOCTYPE HTML>
<html>
<head>
	<link href="http://fonts.googleapis.com/css?family=La+Belle+Aurore&amp;v1" rel="stylesheet" type="text/css"/>
	
	<style>
	@page { size:5.5in 3.5in; }
	@page { margin:10pt 10pt 10pt 10pt;}
	@page {prince-shrink-to-fit: auto;}

	#printed-letter {
		font-family: 'La Belle Aurore', arial, serif;
		font-size: 28pt;
	}
	
	#printed-envelope {
		font-family: 'La Belle Aurore', arial, serif;
		font-size: 12pt;
		page-break-before: always;
	}

	</style>

	<title>Carriemail</title>
</head>
<body>
	<%= render 'letter.html' %>
</body>
</html>

