ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

#mail p {
	font-family: "Monotype Corsiva", "MV Boli", "Lucida Calligraphy", cursive; 
	font-size: 18pt;
	color: #a7a7a7;
}