/* line 4, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 36, ../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/*************
/***FONTS*****
/*************/
@font-face {
  font-family: "BlackJackRegular";
  src: url('fonts/BlackJackRegular/blackjar-webfont.ttf') format('truetype'), url('fonts/BlackJackRegular/blackjar-webfont.otf') format('opentype');
}

/* line 49, ../../app/stylesheets/screen.scss */
body {
  margin-top: 1em;
  background: url("images/body-bg.png") repeat 0 0;
}
/* line 50, ../../app/stylesheets/screen.scss */
body li {
  list-style-type: none;
}
/* line 53, ../../app/stylesheets/screen.scss */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 55, ../../app/stylesheets/screen.scss */
body #container .wrapper {
  position: relative;
}
/* line 57, ../../app/stylesheets/screen.scss */
body #container .wrapper #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  position: relative;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header {
  overflow-x: hidden;
}
/* line 61, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px;
  padding-left: 280px;
  padding-right: 360px;
  position: absolute;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header #mainmenu {
  overflow-x: hidden;
}
/* line 66, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul {
  /*------------------------------------*\
  	NAV
  \*------------------------------------*/
  list-style: none;
  font-weight: bold;
  margin-bottom: 10px;
  /* Clear floats */
  float: left;
  /* Bring the nav above everything else--uncomment if needed.*/
  position: relative;
  z-index: 5;
  background: url("images/tape-links.png") repeat-x 0 0;
  height: 65px;
  padding-top: 23px;
  text-align: center;
  font-family: "BlackJackRegular", serif;
  font-size: 1.5em;
  color: #12537F;
  line-height: 1em;
  /*--- DROPDOWN ---*/
}
/* line 89, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li {
  float: left;
  margin-right: 10px;
  position: relative;
}
/* line 94, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #12537F;
}
/* line 100, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul a:hover {
  text-decoration: none;
}
/* line 106, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul ul {
  background: url("images/tape-links.png") repeat 0 0;
  /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
  background: #FFF;
  list-style: none;
  position: absolute;
  left: -9999px;
  /* Hide off-screen when not needed (this is more accessible than display:none;) */
  color: #12537F;
}
/* line 115, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul ul li {
  float: none;
}
/* line 119, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul ul a {
  white-space: nowrap;
  /* Stop text wrapping and creating multi-line dropdown items */
  text-decoration: none;
  color: #12537F;
}
/* line 124, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover ul {
  /* Display the dropdown on hover */
  left: 0;
  /* Bring back on-screen when needed */
}
/* line 127, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover a {
  /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
  background: #FFF;
  text-decoration: none;
}
/* line 132, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover ul a {
  /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
  text-decoration: none;
}
/* line 135, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover ul li a:hover {
  /* Here we define the most explicit hover states--what happens when you hover each individual link. */
  background: url("images/tape-links.png") repeat 0 0;
  background: #FFF;
}
/* line 143, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header #logo {
  overflow-x: hidden;
}
/* line 146, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #title-top {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header #title-top {
  overflow-x: hidden;
}
/* line 151, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper {
  overflow-x: hidden;
}
/* line 153, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 45px;
  font-family: "BlackJackRegular", serif;
  color: #12537F;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main {
  overflow-x: hidden;
}
/* line 161, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard {
  height: 570px;
  padding: 20px;
}
/* line 166, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #note-content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  background: #FFF;
  margin-bottom: 20px;
  padding-top: 20px;
  margin: 10px 0;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #note-content {
  overflow-x: hidden;
}
/* line 173, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #note-content #instructions {
  padding-left: 80px;
  margin-top: 30px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  font-size: 2em;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #note-content #instructions {
  overflow-x: hidden;
}
/* line 179, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #note-content #instructions li {
  list-style-type: decimal;
}
/* line 183, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #note-content #message {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
  height: 340px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #note-content #message {
  overflow-x: hidden;
}
/* line 187, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #note-content #separator {
  width: 85%;
  height: 5px;
  background-color: #AAA;
  margin-left: 5%;
  clear: both;
  margin-bottom: 15px;
}
/* line 195, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #note-content #thumb-nav {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #note-content #thumb-nav {
  overflow-x: hidden;
}
/* line 198, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #note-content #thumb-nav #thumb-front, body #container .wrapper #main-wrapper #main #note-wizard #note-content #thumb-nav #thumb-open, body #container .wrapper #main-wrapper #main #note-wizard #note-content #thumb-nav #thumb-back {
  padding-left: 40px;
  width: 260px;
  text-align: center;
  float: left;
}
/* line 207, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #envelope-content {
  background: #FFF;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  padding: 5px 0;
  height: 340px;
  margin-top: 10px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-content {
  overflow-x: hidden;
}
/* line 214, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #carrie-stamp {
  background: url("images/carrie-stamp.png") no-repeat 0 0;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  padding-right: 20px;
  height: 144px;
  width: 109px;
  float: right;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #carrie-stamp {
  overflow-x: hidden;
}
/* line 223, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #destination-address {
  padding-left: 400px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #destination-address {
  overflow-x: hidden;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #destination-address {
  overflow-x: hidden;
}
/* line 229, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #return-address {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #return-address {
  overflow-x: hidden;
}
/* line 235, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #check-button {
  padding-left: 800px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-content #check-button {
  overflow-x: hidden;
}
/* line 243, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #send-button {
  padding-left: 800px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #send-button {
  overflow-x: hidden;
}
/* line 248, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #envelope-return {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-return {
  overflow-x: hidden;
}
/* line 252, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #envelope-destination {
  margin-top: 50px;
  padding-left: 400px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-destination {
  overflow-x: hidden;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #envelope-destination {
  overflow-x: hidden;
}
/* line 259, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #note-wizard #letter {
  padding-left: 400px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding: 20px;
  background-color: #ffffff;
  font-family: "BlackJackRegular", serif;
  border-bottom: 1px solid #CCC;
  height: 300px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #note-wizard #letter {
  overflow-x: hidden;
}
/* line 269, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content {
  background: url("images/home-bg.png") no-repeat -10px 0;
  box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  height: 436px;
}
/* line 279, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #callout {
  margin-top: 1em;
  padding-left: 20px;
  padding-right: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  font-family: "BlackJackRegular", serif;
  font-size: 1.5em;
  color: #12537F;
  line-height: 1em;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #callout {
  overflow-x: hidden;
}
/* line 289, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #card-slider {
  background: url("images/home-bubble.png") no-repeat 0 0;
  margin-top: 50px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  height: 249px;
  width: 512px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #card-slider {
  overflow-x: hidden;
}
/* line 296, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #card-slider #speech-bubble {
  margin-top: 10px;
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  text-align: center;
  font-size: 22pt;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #card-slider #speech-bubble {
  overflow-x: hidden;
}
/* line 306, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #carrie-stamp {
  background: url("images/carrie-stamp.png") no-repeat 0 0;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  margin-top: 1em;
  height: 144px;
  width: 109px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #carrie-stamp {
  overflow-x: hidden;
}
/* line 313, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #signin {
  padding-top: 10px;
}
/* line 316, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #signin #carrie_img {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  padding-right: 80px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #signin #carrie_img {
  overflow-x: hidden;
}
/* line 322, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #signin .form {
  margin-top: 50px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  background: #FFF;
  border: 1px solid #000;
  padding: 5px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #signin .form {
  overflow-x: hidden;
}
/* line 338, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes {
  margin-top: 1.5em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  padding-left: 120px;
  padding-right: 120px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes {
  overflow-x: hidden;
}
/* line 343, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes .block {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes .block {
  overflow-x: hidden;
}
/* line 346, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes .box {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  width: 195px;
  padding-top: 10px;
  height: 56px;
  padding: 2px;
  display: inline;
  text-align: center;
  font-family: "BlackJackRegular", serif;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes .box {
  overflow-x: hidden;
}
/* line 356, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes .info {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  padding-top: 5px;
  font-family: "BlackJackRegular", serif;
  font-size: 14pt;
  line-height: 18pt;
  text-align: center;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes .info {
  overflow-x: hidden;
}
/* line 365, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes h1 {
  font-size: 35px;
  color: #ffffff;
}
/* line 369, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-1 {
  background: url("images/green-step.png") no-repeat 0px 0px;
}
/* line 371, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-1 a {
  text-decoration: none;
}
/* line 375, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-2 {
  background: url("images/red-step.png") no-repeat 0px 0px;
}
/* line 378, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-3 {
  background: url("images/blue-step.png") no-repeat 0px 0px;
}
/* line 383, ../../app/stylesheets/screen.scss */
body #container .wrapper textarea#styled-textarea {
  width: 400px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: "BlackJackRegular", serif;
  font-size: 12pt;
}
/* line 395, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer {
  margin-top: 1.5em;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #footer {
  overflow-x: hidden;
}
/* line 398, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer li {
  display: inline;
}
/* line 401, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer #copyright {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #footer #copyright {
  overflow-x: hidden;
}
/* line 404, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer #ftr-links {
  display: inline;
  float: left;
  margin-right: 0;
  width: 750px;
  text-align: right;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #footer #ftr-links {
  overflow-x: hidden;
}
