/* line 4, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 39, ../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/*************
/***FONTS*****
/*************/
@font-face {
  font-family: "BlackJackRegular";
  src: url('fonts/BlackJackRegular/blackjar-webfont.ttf') format('truetype'), url('fonts/BlackJackRegular/blackjar-webfont.otf') format('opentype');
}

/* line 52, ../../app/stylesheets/screen.scss */
body {
  margin-top: 2em;
  background: url("images/body-bg.png") repeat 0 0;
}
/* line 53, ../../app/stylesheets/screen.scss */
body li {
  list-style-type: none;
}
/* line 56, ../../app/stylesheets/screen.scss */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 58, ../../app/stylesheets/screen.scss */
body #container .wrapper {
  position: relative;
}
/* line 60, ../../app/stylesheets/screen.scss */
body #container .wrapper #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header {
  overflow-x: hidden;
}
/* line 64, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  padding-left: 200px;
  padding-right: 200px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header #mainmenu {
  overflow-x: hidden;
}
/* line 69, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul {
  /*------------------------------------*\
  	NAV
  \*------------------------------------*/
  list-style: none;
  font-weight: bold;
  margin-bottom: 10px;
  /* Clear floats */
  float: left;
  /* Bring the nav above everything else--uncomment if needed.*/
  background: url("images/tape-links.png") repeat-x 0 0;
  height: 65px;
  padding-top: 23px;
  text-align: center;
  font-family: "BlackJackRegular", serif;
  font-size: 1.5em;
  color: #12537F;
  line-height: 1em;
  /*--- DROPDOWN ---*/
}
/* line 92, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li {
  float: left;
  margin-right: 10px;
  position: relative;
}
/* line 97, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #12537F;
}
/* line 103, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul a:hover {
  background: #6b0c36;
  text-decoration: none;
}
/* line 109, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul ul {
  background: url("images/tape-links.png") repeat 0 0;
  /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
  background: rgba(255, 255, 255, 0);
  /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
  list-style: none;
  position: absolute;
  left: -9999px;
  /* Hide off-screen when not needed (this is more accessible than display:none;) */
  color: #12537F;
}
/* line 117, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul ul li {
  padding-top: 1px;
  /* Introducing a padding between the li and the a give the illusion spaced items */
  float: none;
}
/* line 121, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul ul a {
  white-space: nowrap;
  /* Stop text wrapping and creating multi-line dropdown items */
  text-decoration: none;
  color: #12537F;
}
/* line 126, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover ul {
  /* Display the dropdown on hover */
  left: 0;
  /* Bring back on-screen when needed */
}
/* line 129, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover a {
  /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
}
/* line 133, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover ul a {
  /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
  text-decoration: none;
}
/* line 136, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #mainmenu ul li:hover ul li a:hover {
  /* Here we define the most explicit hover states--what happens when you hover each individual link. */
  background: url("images/tape-links.png") repeat 0 0;
}
/* line 143, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header #logo {
  overflow-x: hidden;
}
/* line 146, ../../app/stylesheets/screen.scss */
body #container .wrapper #header #title-top {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #header #title-top {
  overflow-x: hidden;
}
/* line 151, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper {
  overflow-x: hidden;
}
/* line 153, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 1em;
  font-family: "BlackJackRegular", serif;
  color: #12537F;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main {
  overflow-x: hidden;
}
/* line 161, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content {
  background: url("images/home-bg.png") no-repeat -10px 0;
  box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  height: 436px;
}
/* line 165, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #destination-address {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #destination-address {
  overflow-x: hidden;
}
/* line 168, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #return-address {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #return-address {
  overflow-x: hidden;
}
/* line 178, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #callout {
  margin-top: 1em;
  padding-left: 20px;
  padding-right: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  font-family: "BlackJackRegular", serif;
  font-size: 1.5em;
  color: #12537F;
  line-height: 1em;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #callout {
  overflow-x: hidden;
}
/* line 188, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #card-slider {
  background: url("images/home-bubble.png") no-repeat 0 0;
  margin-top: 50px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  height: 249px;
  width: 512px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #card-slider {
  overflow-x: hidden;
}
/* line 195, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #card-slider #speech-bubble {
  margin-top: 10px;
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  text-align: center;
  font-size: 22pt;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #card-slider #speech-bubble {
  overflow-x: hidden;
}
/* line 205, ../../app/stylesheets/screen.scss */
body #container .wrapper #main-wrapper #main #content #carrie-stamp {
  background: url("images/carrie-stamp.png") no-repeat 0 0;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  margin-top: 1em;
  height: 144px;
  width: 109px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #main-wrapper #main #content #carrie-stamp {
  overflow-x: hidden;
}
/* line 217, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes {
  margin-top: 1.5em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  padding-left: 120px;
  padding-right: 120px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes {
  overflow-x: hidden;
}
/* line 222, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes .block {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes .block {
  overflow-x: hidden;
}
/* line 225, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes .box {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  width: 195px;
  padding-top: 10px;
  height: 56px;
  padding: 2px;
  display: inline;
  text-align: center;
  font-family: "BlackJackRegular", serif;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes .box {
  overflow-x: hidden;
}
/* line 235, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes .info {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  padding-top: 5px;
  font-family: "BlackJackRegular", serif;
  font-size: 14pt;
  line-height: 18pt;
  text-align: center;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #featurettes .info {
  overflow-x: hidden;
}
/* line 244, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes h1 {
  font-size: 35px;
  color: #ffffff;
}
/* line 248, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-1 {
  background: url("images/green-step.png") no-repeat 0px 0px;
}
/* line 250, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-1 a {
  text-decoration: none;
}
/* line 254, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-2 {
  background: url("images/red-step.png") no-repeat 0px 0px;
}
/* line 257, ../../app/stylesheets/screen.scss */
body #container .wrapper #featurettes #step-3 {
  background: url("images/blue-step.png") no-repeat 0px 0px;
}
/* line 262, ../../app/stylesheets/screen.scss */
body #container .wrapper textarea#styled-textarea {
  width: 300px;
  height: 175px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: "BlackJackRegular", serif;
  font-size: 12pt;
}
/* line 271, ../../app/stylesheets/screen.scss */
body #container .wrapper #letter {
  margin-top: 1.5em;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 20px;
  background-color: #ffffff;
  width: 45%;
  font-family: "BlackJackRegular", serif;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #letter {
  overflow-x: hidden;
}
/* line 280, ../../app/stylesheets/screen.scss */
body #container .wrapper #envelope {
  margin-top: 1.5em;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 20px;
  background-color: #ffffff;
  width: 45%;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #envelope {
  overflow-x: hidden;
}
/* line 289, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer {
  margin-top: 1.5em;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #footer {
  overflow-x: hidden;
}
/* line 292, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer li {
  display: inline;
}
/* line 295, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer #copyright {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #footer #copyright {
  overflow-x: hidden;
}
/* line 298, ../../app/stylesheets/screen.scss */
body #container .wrapper #footer #ftr-links {
  display: inline;
  float: left;
  margin-right: 0;
  width: 750px;
  text-align: right;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .wrapper #footer #ftr-links {
  overflow-x: hidden;
}
