<div class="mail"><p>Change information about a contact in your address book</p></div>

<%= render 'form' %>

<%= link_to 'Show', [@user, @recipient] %> |
<%= link_to 'Back', user_recipients_path(@recipients) %>
