// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
// To generate css equivalent to the blueprint css but with your
// configuration applied
@import "blueprint";

// Grab Blueprint's grid layout
@import "blueprint/grid";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Give me access to CSS3 styles
@import "compass/css3";
@import "compass/css3/border-radius";

// Allows me to embed new fonts
@import "compass/css3/font-face";

@import "compass/utilities";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.




// Carriemail Body Styling
.clear {
	clear:both;
}


/*************
/***FONTS*****
/*************/
@include font-face ("BlackJackRegular", font-files("BlackJackRegular/blackjar-webfont.ttf", truetype, 
													"BlackJackRegular/blackjar-webfont.otf", opentype));
	
$script-font: 'BlackJackRegular', serif;

body {
	li { list-style-type: $list-style-type;	}
	@include prepend-top(1em);
	background: $body-bg-img;
	#container {
		@include container;
		.wrapper {
			position:relative;
			#header {
				@include column($blueprint-grid-columns);
				position:relative;
				
				#mainmenu {
					@include column(9, true);
					@include prepend(7);
					@include append(9);
					position:absolute;
					z-index:10;
				ul {
					/*------------------------------------*\
						NAV
					\*------------------------------------*/
					list-style:none;
					font-weight:bold;
					margin-bottom:10px;
					/* Clear floats */
					float:left;
					/* Bring the nav above everything else--uncomment if needed.*/
//					position:relative;
//					z-index:5;

					background: url('images/tape-links.png') repeat-x 0 0;
					height: 65px;
					padding-top:23px;
					text-align:center;

					font-family: $script-font;
					font-size:1.5em;
					color:#12537F;
					line-height:1em;
										
					li{
						float:left;
						margin-right:10px;
						position:relative;
					}
					a{
						display:block;
						padding:5px;
						text-decoration:none;
						color:#12537F;
					}
					a:hover{
						background:#6b0c36;
						text-decoration:none;
					}

					/*--- DROPDOWN ---*/
					ul{
						background: url('images/tape-links.png') repeat 0 0; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
						background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
						list-style:none;
						position:absolute;
						left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
						color:#12537F;
					}
					ul li{
						padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
						float:none;
					}
					ul a{
						white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
						text-decoration:none;
						color:#12537F;
					}
					li:hover ul{ /* Display the dropdown on hover */
						left:0; /* Bring back on-screen when needed */
					}
					li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
						background:rgba(255,255,255,0);
						text-decoration:none;
					}
					li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
						text-decoration:none;
					}
					li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
						background:url('images/tape-links.png') repeat 0 0;
					}					
					
				} // ul#utility-nav
				} // div#menu-items
				
				#logo {
					@include column(3);
				}
				#title-top {
					@include column(6);
				}
			
			}
			#main-wrapper {
				@include column($blueprint-grid-columns);
				#main {
					//background: $main-bg-shadow;
					@include column($blueprint-grid-columns);
					@include prepend-top(45px);

					font-family:$script-font;
					color:#12537F;
					
					#note-wizard {
						//background: #FFF;
						height:570px;
						padding:20px;
												
						#note-content {
							@include column($blueprint-grid-columns, true);
							background:#FFF;
							margin-bottom:20px;
							padding-top:20px;
							margin: 10px 0;
							
							#instructions {
								@include prepend(2);
								@include prepend-top(30px);
								@include column(10);
								font-size:2em;
								
								li {
									list-style-type:decimal;
								}
							}
							#message {
								@include column(10, true);
								height:340px;
							}
							#separator {
								width:85%;
								height:5px;
								background-color:#AAA;
								margin-left:5%;
								clear:both;
								margin-bottom:15px;
							}
							#thumb-nav {
								@include column($blueprint-grid-columns);
								
								#thumb-front, #thumb-open, #thumb-back {
									@include prepend(1);
									width:260px;
									text-align:center;
									float:left;
								}
							}
							
						}
						#envelope-content {
							background: #FFF;
							@include column($blueprint-grid-columns);
							padding: 5px 0;
							height:340px;
							margin-top:10px;
							
							#carrie-stamp {
								background: url('images/carrie-stamp.png') no-repeat 0 0;
								@include column(2);
								@include append(.5);
								height:144px;
								width:109px;
								float:right;
							}
							// for the notes form
							#destination-address {
								//@include column(12);
								@include prepend(10);
								@include column(6);
								@include column(8);
							}
							#return-address {
								@include prepend(.5);
								@include column(12, true);
								
								#note_return_zip {
									display:block;
								}
								
							}
							
							#check-button {
								@include prepend(20);
								@include column(4);
							}
							
						}

						
						#send-button {
							@include prepend(20);
							@include column(4, true);
						}
						
						#envelope-return {
							@include prepend(.5);
							@include column(6, true);
						}
						#envelope-destination {
							@include prepend-top(50px);
							@include prepend(10);
							@include column(6);
							@include column(8);
						}
						
						#letter {
							@include prepend(10);
							@include column(8, true);
							padding:20px;
							background-color:#ffffff;
							font-family: $script-font;
							border-bottom:1px solid #CCC;
							height:300px;
						}
					}
					#content {
						background: url('images/home-bg.png') no-repeat -10px 0;
						
						
						
						// Make this a function/mixin/something reusable
						box-shadow: $content-shadow;
						-moz-box-shadow: $content-shadow;
						-webkit-box-shadow: $content-shadow;
						height:436px;
						#callout {
							@include prepend-top(1em);
							@include prepend(.5);
							@include append(1);
							@include column(6);
							font-family: $script-font;
							font-size:1.5em;
							color:#12537F;
							line-height:1em;
						}
						#card-slider {
							background: url('images/home-bubble.png') no-repeat 0 0; //$main-bg-color;
							@include prepend-top(50px);
							@include column(8);
							height:249px;
							width:512px;
							
							#speech-bubble {
								@include prepend-top(10px);
								@include prepend(1);
								@include column(10);
								text-align:center;
								font-size:22pt;
							}
							
						}
						
						#carrie-stamp {
							background: url('images/carrie-stamp.png') no-repeat 0 0;
							@include column(2);
							@include prepend-top(1em);
							height:144px;
							width:109px;
						}
						#signin {
							padding-top:10px;
							
							#carrie_img {
								@include prepend(.5);
								@include column(6);
								@include append(2);
							}
							
							.form {
								//@include prepend(8);
								//margin-left:350px;//
								@include prepend-top(50px);
								@include column(8);
								background: #FFF;
								border: 1px solid #000;
								padding:5px;
								
							}
						}
						
					}
				}
			}

			#featurettes {
				@include prepend-top;
				@include column(24);
				@include prepend(3);
				@include append(3);
				.block {
					@include column(6);
				}
				.box {
					@include column(6);
					width:195px;
					padding-top:10px;
					height: $featurette-height;
					padding:2px;
					display:inline;
					text-align:center;
					font-family:$script-font;
				}
				.info {
					@include column(5);
					padding-top:5px;
					font-family:$script-font;
					font-size:14pt;
					line-height:18pt;
					text-align:center;
				}

				h1 {
					font-size: 35px;
					color: #ffffff;
				}
				#step-1  {
					background: url('images/green-step.png') $featurette-img;
					a {
						text-decoration:none;
					}
				}
				#step-2 {
					background: url('images/red-step.png') $featurette-img;
				}
				#step-3 {
					background: url('images/blue-step.png') $featurette-img;
				}
			}

			textarea#styled-textarea {
				width: 400px;
				border: 3px solid #cccccc;
				padding: 5px;
				font-family: $script-font;
				font-size:12pt;
			}	
			

			
			
			
			#footer {
				@include prepend-top;
				@include column($blueprint-grid-columns, true);
				li {
					display:inline;
				}
				#copyright {
					@include column(5);
				}
				#ftr-links {
					@include column(19, true);
					text-align:right;
				}

			}
			
		}
	}

}

