// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Grab Blueprint's grid layout
@import "blueprint/grid";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Give me access to CSS3 styles
@import "compass/css3";
@import "compass/css3/border-radius";

// Allows me to embed new fonts
@import "compass/css3/font-face";

@import "compass/utilities";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.




// Carriemail Body Styling
.clear {
	clear:both;
}


/*************
/***FONTS*****
/*************/
@include font-face ("BlackJackRegular", font-files("BlackJackRegular/blackjar-webfont.ttf", truetype, 
													"BlackJackRegular/blackjar-webfont.otf", opentype));
	


body {
	li { list-style-type: $list-style-type;	}
	@include prepend-top(2em);
	background: $body-bg-img;
	#container {
		//background: $main-bg-color;
		@include container;
	//	@include showgrid;
		.wrapper {
			//@include box;
			position:relative;
			#header {
				@include column($blueprint-grid-columns);
				#utility-nav {
					@include column(9);
					@include prepend(8);
					@include append(6);
					position:absolute;
					ul {
						background: url('images/tape-links.png') no-repeat 0 0;
						height: 65px;
						padding-top:23px;
						text-align:center;
					}
					float:right; // overwrites +columns' float: left
					li {
						display:inline;
						padding:1em;
					}
				}
				#logo {
					@include column(3);
				}
				#title-top {
					@include column(6);
				}
			
			}
			#main-wrapper {
				@include column($blueprint-grid-columns);
				#main {
					//background: $main-bg-shadow;
					@include column($blueprint-grid-columns);
					@include prepend-top(1em);
					#content {
						background: url('images/home-bg.png') no-repeat -10px 0;
						
						// Make this a function/mixin/something reusable
						box-shadow: $content-shadow;
						-moz-box-shadow: $content-shadow;
						-webkit-box-shadow: $content-shadow;
						height:436px;
						#callout {
							@include prepend-top(1em);
							@include prepend(.5);
							@include append(2);
							@include column(5);
							font-family: "BlackJackRegular";
							font-size:1.5em;
							color:#12537F;
							line-height:1em;
						}
						#card-slider {
							background: url('images/home-bubble.png') no-repeat 0 0; //$main-bg-color;
							@include prepend-top(50px);
							@include column(9);
							height:249px;
							width:512px;
							
							#colorbox {
								@include column(3);
								height:100px;
							}
						}
						
						#carrie-stamp {
							background: url('images/carrie-stamp.png') no-repeat 0 0;
							@include column(2);
							@include prepend-top(1em);
							height:144px;
							width:109px;
						}
					}
				}
			}

			#featurettes {
				@include prepend-top;
				@include column(24);
				@include prepend(3);
				@include append(3);
				.block {
					@include column(6);
				}
				.box {
					@include column(6);
					width:195px;
					padding-top:10px;
					height: $featurette-height;
					display:inline;
					text-align:center;
				}
				.info {
					@include prepend(.5);
					@include column(4);
				}

				h1 {
					font-size: 35px;
					color: #ffffff;
				}
				#step-1  {
					background: url('images/green-step.png') $featurette-img;
				}
				#step-2 {
					background: url('images/red-step.png') $featurette-img;
				}
				#step-3 {
					background: url('images/blue-step.png') $featurette-img;
				}
			}
		
			#footer {
				@include prepend-top;
				@include column($blueprint-grid-columns);
				li {
					display:inline;
				}
				#copyright {
					@include column(5);
				}
				#ftr-links {
					@include column(5);
					float:right;
				}

			}
			
		}
	}

}

