
<div id="main">
	<div id="content">
		<div id="callout">
			Carrie Mail<br/>
			123 Anywhere Ave.<br/>
			Columbus, OH 43210<br/>
		</div>		
		
		<div id="card-slider" class="ContentFlow">
			<div id="speech-bubble">
				<p>Carrie is ready to help you connect with friends, co-workers, family, and anyone else special in your life.</p>
				<p><%= link_to 'Get Started!', new_catalog_note_path(@catalog) %></p>
			</div>
		</div>
		<div id="carrie-stamp"></div>
	</div>

</div>

<div style="display:none">
	<div id="app" style="padding: 10px; background:#fff;">
		<p>This can be any html stuff we want.</p>
	</div>
</div>

	