<div id="featurettes">
	<div id="first" class="block">
		<div id="step-1" class="box">
<<<<<<< HEAD
			<%= link_to content_tag(:h1, "1 Write"), new_catalog_note_path(@catalog), :title => "Write Your Letter",  %>
=======
			<%= link_to content_tag(:h1, "Write"), new_catalog_note_path(@catalog) %>
>>>>>>> cdec0d8d660822db0e24848d9d1be43b1130bd2d
		</div>
		<div class="info">
			<p>Ridiculus arcu in pid tortor nec eu odio elementum elementum elementum rhoncus! Porta cursus nunc, <p>
		</div>
	</div>
	<div id="second" class="block">
		<div id="step-2" class="box">
			<h1>Check</h1>
		</div>
		<div class="info">
			<p>Ridiculus arcu in pid tortor nec eu odio elementum elementum elementum rhoncus! Porta cursus nunc, <p>
		</div>
	</div>
	<div id="third" class="block">
		<div id="step-3" class="box">
			<h1>Relax</h1>
		</div>
		<div class="info">
			<p>Ridiculus arcu in pid tortor nec eu odio elementum elementum elementum rhoncus! Porta cursus nunc, <p>
		</div>
	</div>
</div>