<div id="promo-signup" class="l minor-boxes center">
	<form>
		<input type="text" name="dummy" placeholder="Pricing plans, contact information, details" size="60" /><br/>
		<input type="submit" value="Sign Up!" />
	</form>
</div>